body{
    margin: 0;
    /* perspective:1600px; */
    
}
.align{
    margin-left: 100px;
    margin-right: 100px;
}
nav{
    position:fixed;
    height: 70px;
    width: 100%;
    background-color: #FFC017;
    border-bottom: 2px solid ;
    z-index: 20;
    transition-duration: 1s;
    
}
a:link{
    text-decoration: none;
    color: black;
}

.navbar-heading {
    /* position:absolute;
    left:30px;
    top:21px; */
    height:70px;
    width:200px;
    margin:auto;
    line-height: 70px;
    text-align: center;
    font-size: 24px;
    font-family: serif;
    font-weight: bold;
    text-decoration:none solid rgb(25, 25, 25);
    float: left;
    margin-left: 90px;
}
.navbar-heading >i{
    font-weight: bold;
}
.navbar-links {
    height:70px;
    width:500px;
    line-height: 65px;
    float: right;
    margin-right: 100px;
}

nav::after{
    content: "";
    clear: both;
    display: block;
}
.nl{
    font-size: 15px;
    /* font-weight: bolder; */
    font-family: sans-serif,"Helvetica Neue";
    padding-right:20px;

}
.navbar-button{
    margin-right: 50px;
    width: 120px;
    padding:10px;
    border: 1px solid;
    border-radius: 50px;
    background-color:black;
    color: white;
    font-weight: bold;
    border-color: black;
    /* opacity: 90%; */
}

.heading{
    
    padding-top: 100px;
    height: 450px;
    width: 100%;
    background-color: #FFC017;   
    border-bottom: 1px solid black;
}
.heading::after{
    content: "";
    clear: both;
    display: block;
}
.main-heading{
    height: 200px;
    width: 600px;
    font-family: serif;
    margin-left: 100px;
    line-height:300px;
    font-size: 100px;
    /* font-weight: 550; */

}
.heading-text{
    margin-left: 100px;
    width: 400px;
    font-size: 22px;
    font-family: sans-serif;
}
.heading-button{
    border-color: black;
    border:1px solid black;
    border-radius:50px; 
    background-color:black;
    color: white;
    font-weight: bold;
    height: 45px;
    width: 200px;
    margin-left: 100px;
}
.trending{
    height: 300px;
    border-bottom:1px solid rgba(0  , 0, 0, 0.1);
    
    /* border-bottom: 0.2px solid; */
    /* opacity: 0.5; */
}
.trending-heading{
    margin-top: 50px;
    width:200px;
    margin-left: 100px;
    font-family: sohne,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;  

}
.trending-heading span{
opacity: 0.85;
}
.trending-articles{
    margin-top:20px;
    margin-left: 100px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.article{
    display:flex;
    gap: 30px;
}
.article-number{

font-size:22px;
font-weight: bold;
opacity:0.3;
font-family: sans-serif;
}
.article-author-text, .article-author img{
    line-height: 20px;
    padding-bottom: 10px;
 font-size: 14px;   
 display: inline-block;
}
.article-author-text{
    padding-bottom: 0px;
    position: relative;
    bottom: 12px;
}
.article-author img{
    position:relative;
    top:2px;
}
.article-name{
    padding-bottom: 10px;
    font-weight: bold;
    font-family: sans-serif;
}
.article-date{
    font-size: 12px;
    font-family: sans-serif;
    opacity:0.7;
}

.More-Articles{
     margin-left: 100px; 
    /* margin-right: 200px;  */
    float:left;
}
.discover-more{
    z-index:20 ;
    position:sticky;
    top: 100px;
    margin-top:60px;
    margin-right: 100px;
    float:right;
}
.Main-Content::after{
    content: "";
    clear:both;
    display:block;
}
.left{
    float: left;
}
.right{
    float:right;
}
.BigArticle{
    margin-top:60px;
}
.BigArticle::after{
    /* margin-top: 60px; */
    content: "";
    clear:both;
    display:block;
}
.BigArticle-Image{
    width: 200px;
    height: 150px;
}
.BigArticle-AuthorHeading{
    gap:5px;
    display:flex;
}
.BigArticle-Heading{
    /* word-spacing: 0.1px; */
    /* letter-spacing: 0.01em; */
    width:550px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;
}
.BigArticle-Description{
    padding-top:10px;
    width: 450px;
    font-family: sans-serif;
    font-size: 16px;
    opacity: 0.7;
}
.BigArticle-Flex{
    padding-top:7px ;
    display:flex;
    gap:8px;
    align-items: center;
    opacity: 0.7;   
}
.BigArticle-Tag{
    border-radius: 50px;
    background-color: #E6E6E6;
    border:1px solid;
    border-color: white;
    padding:4px;
}

.discover-heading{
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.discover-footer{
    margin-top: 20px;
    padding-bottom: 30px;
    
    width:300px;
    gap:10px;

    display:flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0 ,0,0,0.1);
    /* border: 1px solid ; */
}
.discover-tags{
    background-color: #FFFFFF;
    padding:10px;
    border: 1px solid #E6E6E6;
    opacity: 0.6;
    
}
.page-extras{
    margin-top: 20px;
    width: 350px;
    display:flex;
    flex-wrap: wrap;
    
}
.ex{

    /* color:; */
    
    padding-left: 0px;
padding-bottom: 0px;
    font-weight: bold;
    background-color:white;
    border-color: white;
    opacity: 0.5;
}

p{
    width: 500px;
}
.BigArticle-dp{
    border-radius: 50px;
}